# OS
.DS_Store


# Node workspaces
**/node_modules/
**/package-lock.json


# Cypress artifacts
cypress-portfolio/cypress/screenshots/
cypress-portfolio/cypress/videos/
cypress-portfolio/cypress/downloads/


# Playwright artifacts
playwright-portfolio/test-results/
playwright-portfolio/playwright-report/
playwright-portfolio/.cache/


# JMeter outputs
jmeter-tests/results/